/build_local/
/cache/
/node_modules/
/vendor/
/.idea/
/.vscode/
npm-debug.log
.DS_store

# Optional ignores
# /build_staging/
# /build_production/
# /source/assets/build/
officelife-marketing.code-workspace
